footer{
    background-color: #001740;
}

span {
    color: white;
}

footer li {
    color: white;
}



footer h5{
    color: white;
}

footer a {
    color: white;
}


.icones{
    font-size:32px;
}

#link-prppg{
    color: yellow;
}
